src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="83c1563f-f30a-491f-9499-1e12ff3be6bc" >
		<db:my-sql-connection host="sql6.freesqldatabase.com" port="3306" user="sql6437226" password="sxHtdyzecw" database="sql6437226" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a0933ff4-b811-4fa8-aaff-0ee400dff946" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="client_Object_store" doc:name="Object store" doc:id="62558de9-c4ac-4462-8850-9e5966854d20" />
	<os:object-store name="token_Object_store" doc:name="Object store" doc:id="f6c338b4-2587-4e5b-b60b-3120d5b51256" />
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="2dde3be9-a96c-4395-b099-e5edb481b0dc" listenerConfig="HTTP_Listener_config" clientStore="client_Object_store" supportedGrantTypes="CLIENT_CREDENTIALS" >
		<oauth2-provider:token-config tokenStore="token_Object_store" />
	</oauth2-provider:config>
	<flow name="globalFlow" doc:id="f90054a5-2e04-472c-ade0-b6a50ac1514a" >
		<http:listener doc:name="Listener" doc:id="fa79b9dc-b1e1-4a13-a01e-aaf668e6008e" config-ref="HTTP_Listener_config" path="/createTable"/>
		<db:insert doc:name="Insert" doc:id="899b6699-74f0-43b3-828f-7945ff8db433" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Flights (flightName, date)
VALUES (:fName, :date)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
		'fName': message.attributes.queryParams.fname,
		'date': message.attributes.queryParams.date,
	}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="cce42ace-7c86-4221-b158-c4ac1497b146" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="19407c47-33a5-4d09-86ee-26043a8a1e56" message="#[payload]"/>
	</flow>
	<flow name="globalFlow1" doc:id="5d525c00-17ff-4922-a781-8a6c28b5350c" >
		<http:listener doc:name="Listener" doc:id="e64b09e2-48bb-4c7e-8251-ad08a713fccb" config-ref="HTTP_Listener_config" path="/search"/>
		<logger level="INFO" doc:name="Logger" doc:id="449c07d6-827f-448e-bce3-36cda226b69b" message="#[{&#10;	'date': message.attributes.queryParams.date&#10;}]"/>
		<ee:transform doc:name="Transform Message" doc:id="5200bc7f-ad18-4997-9dd8-4ea32dffcde6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var date = message.attributes.queryParams.date default "Sunday"
output text/plain
---
"select * from Flights where date like '%" 
++
date
++
"%'"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:select doc:name="Select" doc:id="afb07c6c-894f-4396-b2c8-f1ffe3298697" config-ref="Database_Config">
			<db:sql ><![CDATA[#[payload default "SELECT * FROM Flights"] ]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d5df976f-c01e-4d4a-88ec-60a94fdce3a3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
